.main {
	@extend %flex-center;
	flex-direction: column;
	justify-content: flex-start;
	font-weight: 700;
	color:$color_secondary_golden;
	margin: 200px 10vw;
	height: fit-content;

	.ticketInfo__container{
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 800px;
		background-color: $color_main;
		padding: 22px 15px;
		box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);

		li{
			cursor: pointer;
		}

		h3{
			position: relative;
			font-size: 20px;
			color:$color_secondary_white;
			font-weight: 500;
			padding-left: 36px;
			&::before{
				content:'＋';
				position: absolute;
				left:10px;
				font-size: 20px;
				color: $color_secondary_golden;
				transition: all 0.5s ease-in-out;
			}

		}
		.ticketInfo__content{
			margin-top: 15px;
			display: flex;
			margin-left: 56px;

			.ticketInfo__line{
				width: 3px;
				height: auto;
				margin-right: 10px;
				background-color: $color_secondary_golden;
			}

			p{
				flex: 1;
				color:$color_secondary_white;
				font-weight: 300;
				line-height: 30px;
				font-size: 16px;
				font-family: 'Noto Sans TC', sans-serif;
				.span_blue{
					font-weight: 700;
					color: $color_secondary_blue;
				}
				.span_red{
					color: $color_secondary_red;
				}
			}
		}

		li.active h3::before{
			transform: rotate(45deg);
		}
	}
}
