@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a * {
  cursor: pointer;
}

.sponsor .sponsor__icon, .sponsor, .manual__container, .aboutFilmFes__container .aboutFilmFes__text, .aboutFilmFes__container .aboutFilmFes__bg, .whatsOn__container .whatsOn__more, .whatsOn__container .whatsOn__text, .latest__more, .latest__news__container, article .title__container .title__all, article .title__container, .main > article, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Alata", sans-serif;
}

@media screen and (max-width: 900px) {
  #navbar, #footer {
    display: none;
  }

  #navbar__mobile, #footer__mobile {
    display: block;
  }
}
header {
  position: static;
  top: 0px;
  width: 100%;
  height: calc(80px + 50vw);
  align-items: flex-start;
  overflow: hidden;
}
header .header__bg__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0E6968, #6AB5B9);
  z-index: -10;
}
header .header__bg__container .header__float {
  transition-duration: 1s;
}
header .header__bg__container #tailBig {
  position: absolute;
  width: 40%;
  top: -4vw;
  left: 15%;
  filter: blur(2px);
  transition-duration: 0.5s all;
  animation: move 4s infinite;
  animation-timing-function: ease-in-out;
}
header .header__bg__container #tailSmall1 {
  position: absolute;
  bottom: 0vh;
  width: 70%;
  top: calc(80px + 25vw);
  left: -10%;
  opacity: 50%;
  filter: blur(5px);
  animation: move 5s infinite;
  animation-timing-function: ease-in-out;
}
header .header__bg__container #tailSmall2 {
  position: absolute;
  width: 40%;
  top: -12vw;
  right: -15%;
  opacity: 50%;
  filter: blur(6px);
  animation: move 10s infinite;
  animation-timing-function: ease-in-out;
}
header .header__main__container {
  position: absolute;
  width: 90%;
  margin: auto;
  height: 100vh;
}
header .header__main__container .header__main__title__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 24%;
  height: 75vh;
  top: 18vw;
  left: 8%;
}
header .header__main__container .header__main__title__container #ZHtitle {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
header .header__main__container .header__main__title__container #titleDate {
  width: 100%;
}
header .header__main__container .header__main__title__container #ENtitle {
  margin-top: 2vh;
  width: 60%;
}
header .header__main__container .header__main__title__container #arrow {
  width: 60%;
}
header .header__main__container #horse {
  position: absolute;
  width: 60%;
  top: 65px;
  right: 10%;
  z-index: 4;
  animation: move 8s infinite;
  animation-timing-function: ease-in-out;
}
header .header__main__container #rainbow {
  position: absolute;
  width: 50%;
  top: 65px;
  right: 0%;
  z-index: 2;
  animation: move 6s infinite;
  animation-timing-function: ease-in-out;
}
header .header__main__container #cornO {
  position: absolute;
  width: 5%;
  top: calc(65px + 35vw);
  right: 5%;
  z-index: 3;
  animation: move 6s infinite;
  animation-timing-function: ease-in-out;
}
header .header__main__container #cornG {
  position: absolute;
  width: 5%;
  top: calc(65px + 15vw);
  right: 15%;
  z-index: 5;
  animation: move 5s infinite;
  animation-timing-function: ease-in-out;
}
header .header__main__container #cornP {
  position: absolute;
  width: 6%;
  top: calc(65px + 32vw);
  right: 23%;
  z-index: 5;
  animation: move 4s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes move {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.curve {
  position: relative;
  margin-top: -5vh;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main {
  margin-top: -2px;
  font-weight: 700;
  background-color: #1E646A;
  overflow: hidden;
  height: fit-content;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 700vh;
  overflow: hidden;
}
.background #tail__latest {
  position: absolute;
  top: 120vh;
  width: 100%;
  transform: rotate(-2deg);
  z-index: 2;
}
.background #tail__whatsOn {
  position: absolute;
  top: 250vh;
  right: 0px;
  width: 70%;
}
.background #tail__aboutFilmFes {
  position: absolute;
  top: 410vh;
  width: 70%;
}
.background #tail__manual {
  position: absolute;
  top: 420vh;
  right: 0px;
  width: 70%;
}

.main > article {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  max-width: 1200px;
  margin: 250px auto 250px auto;
  opacity: 0;
}

article .title__container {
  align-items: flex-end;
  color: #D3D6B1;
  height: 30vh;
  z-index: 1;
}
article .title__container .title__all {
  align-items: stretch;
}
article .title__container .title__all h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 77px;
}
article .title__container .title__all .ZHtitle__line {
  margin: 10px 15px;
  width: 3px;
  background-color: #6AB5B9;
}
article .title__container .title__all .ZHtitle__text {
  width: 30px;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  article .title__container .title__all h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
  }
  article .title__container .title__all .ZHtitle__text {
    width: 30px;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 500;
  }

  .main > .latest > .title__container {
    height: 15vh;
  }
}
#latest {
  margin-top: 10vw;
  opacity: 1;
}

.latest__news__container {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 60vh;
  height: fit-content;
  z-index: 2;
}
.latest__news__container .news-list__item {
  display: flex;
  width: 30%;
  min-width: 340px;
  margin: 40px 0 40px 0;
  position: relative;
}
.latest__news__container .news-list__item::before {
  position: absolute;
  top: -30px;
  left: 0px;
  color: #fff;
  font-size: 0.8em;
  background-color: #EA5136;
  opacity: 0%;
  padding: 5px;
  border-radius: 5px;
  content: "連結僅示意";
  transition-duration: 0.3s;
}
.latest__news__container .news-list__item:hover * {
  cursor: pointer;
}
.latest__news__container .news-list__item:hover img {
  transform: scale(1.1, 1.1);
}
.latest__news__container .news-list__item:hover::before {
  opacity: 100%;
}
.latest__news__container .news-list__item .news-list__background {
  background-color: #fff;
  width: 100%;
  margin-left: 10px;
}
.latest__news__container .news-list__item .news-list__background a {
  text-decoration: none;
}
.latest__news__container .news-list__item .news-list__background a .news-list__img__container {
  position: relative;
  width: 100%;
  right: 10px;
  overflow: hidden;
}
.latest__news__container .news-list__item .news-list__background a .news-list__img__container img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  transition-duration: 0.3s;
}
.latest__news__container .news-list__item .news-list__background a .news-thumbnail__detail {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.latest__news__container .news-list__item .news-list__background a .news-thumbnail__detail .news-thumbnail__title {
  padding: 12px 8px;
  font-size: 18px;
  font-weight: 900;
  line-height: 28px;
  color: #535353;
}
.latest__news__container .news-list__item .news-list__background a .news-thumbnail__detail .news-thumbnail__time {
  padding: 12px 8px;
  font-size: 16px;
  font-weight: 300;
  color: gray;
}

@media screen and (max-width: 900px) {
  .latest__news__container {
    justify-content: space-around;
  }
}
.latest__more {
  align-items: flex-start;
  height: 10vh;
  width: 100%;
  z-index: 2;
}
.latest__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.3s;
}
.latest__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.whatsOn__container {
  position: relative;
  top: -10vh;
  height: fit-content;
  width: 60%;
  margin-left: auto;
}
.whatsOn__container .whatsOn__date {
  margin-bottom: 10px;
}
.whatsOn__container .whatsOn__date p {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.whatsOn__container .whatsOn__text {
  justify-content: space-between;
  border-bottom: 2px solid #6AB5B9;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}
.whatsOn__container .whatsOn__text * {
  cursor: pointer;
}
.whatsOn__container .whatsOn__text::before {
  position: absolute;
  top: -10px;
  left: 0px;
  color: #fff;
  font-size: 0.8em;
  background-color: #EA5136;
  opacity: 0%;
  padding: 5px;
  border-radius: 5px;
  content: "連結僅示意";
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__text p {
  font-weight: 900;
  font-size: 18px;
  color: white;
  transition-duration: 0.3s;
  line-height: 24px;
}
.whatsOn__container .whatsOn__text i {
  font-size: 18px;
  color: white;
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__text:hover p, .whatsOn__container .whatsOn__text:hover i {
  color: #D3D6B1;
}
.whatsOn__container .whatsOn__text:hover::before {
  opacity: 100%;
}
.whatsOn__container .whatsOn__more {
  justify-content: flex-end;
  height: 10vh;
  width: 100%;
  z-index: 20;
}
.whatsOn__container .whatsOn__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.whatsOn__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.whatsOn__img img {
  position: absolute;
  object-fit: cover;
  bottom: 0px;
  left: -10%;
  width: 35%;
  min-width: 240px;
  height: 35vh;
  border-radius: 0 50px 15px 0;
}

.whatsOn__cone {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 0;
  width: 25%;
  margin-left: auto;
}
.whatsOn__cone img {
  position: absolute;
  bottom: -75px;
  width: 150px;
}

@media screen and (max-width: 900px) {
  .whatsOn__container {
    top: 40px;
    width: 100%;
    margin: auto;
  }

  .whatsOn__img img {
    position: absolute;
    object-fit: cover;
    bottom: -200px;
    left: -10%;
    width: 50%;
    height: 20vh;
    border-radius: 0 50px 15px 0;
  }

  .whatsOn__cone img {
    width: 70px;
    bottom: -300px;
  }
}
.aboutFilmFes__container {
  position: relative;
  top: -10vh;
  height: 70vh;
  width: 55%;
  margin-left: auto;
}
.aboutFilmFes__container .aboutFilmFes__bg {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid white;
  align-items: flex-end;
}
.aboutFilmFes__container .aboutFilmFes__logo img {
  position: absolute;
  top: -10px;
  left: 55%;
  width: 150px;
}
.aboutFilmFes__container .aboutFilmFes__text {
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 150px;
  width: 80%;
  margin-left: 10%;
  line-height: 48px;
}
.aboutFilmFes__container .aboutFilmFes__text p {
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more {
  margin-top: 8px;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 0.3s;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.aboutFilmFes__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.aboutFilmFes__img #img__horse {
  position: absolute;
  object-fit: cover;
  width: 200px;
  right: 66%;
  bottom: 30vh;
  z-index: 1;
}
.aboutFilmFes__img #img__text {
  position: absolute;
  object-fit: cover;
  width: 250px;
  right: 50%;
  bottom: 10vh;
}

@media screen and (max-width: 900px) {
  .aboutFilmFes__container {
    top: 40px;
    width: 100%;
  }

  .aboutFilmFes__bg {
    margin: auto;
    height: 300px;
    width: 300px;
  }

  .aboutFilmFes__img #img__horse {
    width: 120px;
    left: 10%;
    bottom: -150px;
  }
  .aboutFilmFes__img #img__text {
    width: 150px;
    left: 40%;
    bottom: -220px;
  }
}
@media screen and (max-width: 600px) {
  .aboutFilmFes__container .aboutFilmFes__text {
    top: 120px;
  }
  .aboutFilmFes__container .aboutFilmFes__text p {
    font-size: 16px;
    line-height: 36px;
  }
}
.manual__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.manual__img #manualCornP {
  position: absolute;
  right: 10px;
  top: -130px;
  transform: scale(0.3);
}
.manual__img #manualCornG {
  position: absolute;
  right: 60px;
  top: -100px;
  transform: scale(0.25) rotate(30deg);
}

.manual__container {
  position: relative;
  height: 70vh;
  width: 80%;
  margin: auto;
}
.manual__container > img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .manual__container > img {
    width: 160%;
  }

  .manual__img #manualCornP {
    right: -70px;
    top: -65px;
  }
  .manual__img #manualCornG {
    right: -40px;
    top: -55px;
  }
}
@media screen and (max-width: 550px) {
  .manual__container > img {
    width: 250%;
  }
}
.manual {
  margin-bottom: 0 !important;
}

.getIt {
  margin-top: 0 !important;
}
.getIt .title__container {
  height: 20vh !important;
}
@media screen and (max-width: 500px) {
  .getIt .title__container {
    height: 5vh !important;
  }
}

.getIt__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #FFFFFF;
  z-index: 50;
}
.getIt__container .getIt__container__vertical {
  width: 30%;
}
.getIt__container .getIt__container__vertical .getIt__container__card {
  background-color: #6AB5B9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__title {
  font-size: 18px;
  margin-bottom: 16px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content {
  display: flex;
  align-items: stretch;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__line {
  width: 1.5px;
  background-color: #fff;
  margin: 5px 10px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__text__container {
  display: flex;
  flex-direction: column;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__text__container .getIt__container__text {
  padding: 12px 0;
  font-size: 14px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon {
  position: relative;
  width: 100%;
  height: 0;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon img, .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon svg {
  position: absolute;
  right: 0;
  bottom: 0rem;
  width: 40px;
  margin: 10px;
  fill: white;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon #iconPlace {
  height: 40px;
}
@media screen and (max-width: 900px) {
  .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon img, .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon svg {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .getIt__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .getIt__container__vertical {
    width: 30%;
    min-width: 300px;
  }
}
#getItDownload * {
  cursor: pointer;
}

#getItDownload > .getIt__container__card:hover .getIt__container__line {
  background-color: #D3D6B1;
  transition-duration: 0.3s;
}
#getItDownload > .getIt__container__card:hover .getIt__container__text {
  color: #D3D6B1;
  transition-duration: 0.3s;
}
#getItDownload > .getIt__container__card:hover svg {
  fill: #D3D6B1;
  transition-duration: 0.3s;
}

.sponsor {
  position: relative;
  width: 100%;
  bottom: 0px;
  background-color: #6AB5B9;
  flex-direction: column;
  z-index: 10;
}
.sponsor .sponsor__title {
  margin-top: 50px;
}
.sponsor .sponsor__title__EN {
  text-align: center;
  font-size: 20px;
  color: #D3D6B1;
}
.sponsor .sponsor__title__ZH {
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 8px;
}
.sponsor .sponsor__icon {
  flex-wrap: wrap;
  margin: 40px 0 50px 0;
}

.sponsor__background {
  position: absolute;
  width: 100%;
  top: 0px;
}
.sponsor__background #tail__getIt {
  position: absolute;
  bottom: 0vh;
  right: 0;
  width: 50%;
}/*# sourceMappingURL=style.css.map */