@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main .property__item__border, .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1E646A;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Alata", sans-serif;
  position: relative;
}

.background__line {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: soft-light;
  opacity: 0.58;
  z-index: -10;
}

.background__tail {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.background__tail img {
  animation: float infinite 5s;
  animation-timing-function: ease;
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2));
}

@keyframes float {
  0% {
    transform: translateY(-1vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(-1vh);
  }
}
@media screen and (max-width: 900px) {
  #navbar, #footer {
    display: none;
  }

  #navbar__mobile, #footer__mobile {
    display: block;
  }
}
header {
  margin: 65px auto 0 auto;
  max-width: 1280px;
  width: 100%;
}
header .banner__container {
  width: 90%;
  margin: 0 auto;
}
header .banner__container img {
  width: 100%;
  object-fit: cover;
}

.main {
  flex-direction: column;
  color: #FFFFFF;
  max-width: 1280px;
  margin: 0 auto 200px;
  position: relative;
  height: fit-content;
}
.main .intro__circle {
  position: absolute;
  top: 48px;
  left: 5%;
  background-color: #DB83BD;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}
.main .intro {
  margin-top: 69px;
  margin-bottom: 40px;
  padding-top: 21px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.main .title__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 275px;
}
.main h11 {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.main h12 {
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.main h13 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.main .property__container {
  display: flex;
  flex-wrap: wrap;
}
.main .property__item {
  margin: 0 0 8px 16px;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .main .property__item {
    margin: 8px 16px 0 0;
  }
}
.main .property__item__border {
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  width: 66px;
  height: 40px;
}
.main .intro__text {
  width: 85%;
  margin-bottom: 94px;
}
.main h14 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.main .award__container {
  width: 85%;
  margin-bottom: 140px;
}
.main h15, .main h16, .main h17 {
  color: #D3D6B1;
  line-height: 30px;
  letter-spacing: 0.2px;
}
.main h15 {
  font-weight: 400;
  font-size: 20px;
}
.main h16 {
  font-weight: 700;
  font-size: 16px;
}
.main h17 {
  font-weight: 400;
  font-size: 16px;
}
.main .award__text {
  margin-top: 16px;
  display: flex;
}
.main .award__item {
  display: flex;
  flex-direction: column;
  margin-right: 56px;
}
@media screen and (max-width: 768px) {
  .main .award__text {
    flex-wrap: wrap;
  }
  .main .award__item {
    margin: 8px 8px 8px 0;
  }
}
.main .director__intro {
  width: 85%;
  margin-bottom: 112px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .main .director__intro img {
    margin: auto;
  }
}
.main .director__intro__text {
  width: 70%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .main .director__intro__text {
    width: 100%;
  }
}
.main h18 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
}
.main h19 {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #E1E1E1;
}
.main .movietime__container {
  width: 85%;
  margin-bottom: 172px;
}
.main .movietime__item {
  width: 100%;
  background-color: #6AB5B9;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.main .movietime__item .movietime__item__container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .main .movietime__item .movietime__item__container {
    width: 90%;
  }
}
.main .movietime__item .movietime__item__container h2 {
  margin-right: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
}
.main .movietime__item .movietime__item__container .timelineFav {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  font-size: 1.2rem;
}
.main .movietime__item .movietime__item__container .timelineFav.active {
  color: #EA5136;
}
.main .moremovie__container {
  width: 85%;
}
.main h21 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.main .moremovie__line {
  margin: 8px 0 45px;
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
}
.main .moremovie__item {
  display: flex;
  flex-wrap: wrap;
}
.main .moremovie__item > a {
  position: relative;
  margin-left: 48px;
}
.main .moremovie__item > a * {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main .moremovie__item > a {
    margin: 8px 0px;
  }
}
.main .moremovie__item > a::before {
  position: absolute;
  top: -20px;
  left: 0px;
  color: #fff;
  font-size: 0.8em;
  background-color: #EA5136;
  opacity: 0;
  padding: 5px;
  border-radius: 5px;
  content: "連結僅示意";
  transition-duration: 0.3s;
}
.main .moremovie__item > a:hover::before {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */