//資訊卡
main{
	position: relative;
	margin: 70px 0 200px 0;
	height: fit-content;
}



.information__container{
	width: 95vw;
	margin: auto;
	overflow: hidden;
	@extend %flex-center;
	flex-direction: column;
}

//下拉選單
.select__container{
	position: relative;
  font-family: Arial;
	text-align: center;

	select{
		margin: 0 24px;
		background-color: rgba(255, 255, 255, 0);
		padding: 10px;
		color: $color_secondary_white;
		border: 1px solid $color_secondary_white;
		padding: 8px 20px;
		width: 150px;
		option{
			color: $color_secondary_black;
		}
	}
}

@media screen and (max-width: 700px) {
	.select__container{
		select{
			margin: 8px 10px;
			padding: 8px 0px;
			width: 76px;
		}
	}
}

	.symbols{
		width: 87%;
		text-align: end;
		color: white;
		transform: translateY(24px);
	}

//時間表
.tableDaily__container{
	margin-top: 30px;
	display: block;
	// translateY為調高度後，就不會因為內容量變少而改變位置
	transform: scale(0.9) translateY(-5.5%);
}

table{
	position: relative;
}

td{
	vertical-align: middle;
	text-align: center;
	background-color: $color_main;
	p{
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 10px;
	}
}

.tableHeading{
	position: relative;
	height: 32px;
}

#date01{
	width: 5vw;
	p{
		width: 5vw;
		font-size: 16px;
		font-weight: 700;
		left: -10px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#date02{
	width: 6vw;
		p{
			width: 6vw;
			position: relative;
			top: -5px;
			left: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
}

#date03{
	width: 3vw;
		p{
			width: 3vw;
			overflow: hidden;
			text-overflow: ellipsis;
		}
}


.tableCinema{
	height: 100px;
}

#cinema{
	position: relative;
	width: 8vw;
	p{
		width: 6vw;
		font-size: 16px;
		font-weight: 700;
		margin: auto;
	}
}

#cinema::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	top: 0;
	background-color: #fff;
	left: 0;
}

#cinema::after{
	position: absolute;
	content: '';
	width: 1px;
	height: 110%;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 2;
}

#block{
	position: relative;
	width: 3vw;
}

#block::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	left: 0;
	top: 0;
	background-color: #fff;
}

#block:nth-child(odd)::after{
	position: absolute;
	content: '';
	width: 1px;
	height: 110%;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 2;
}

#block:nth-last-child(1)::after{
	display: none;
}

#block:nth-child(even)::after{
	position: absolute;
	content: '';
	width: 1px;
	height: 105%;
	right: -1px;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.3);
	z-index: 2;
}


.film__container{
	position: absolute;
	width: 0;
	z-index: 3;

	.film {
		position: absolute;
		background-color: $color_secondary_golden;
		border-radius: 8px;
		margin: 0;
		padding: 0;
		top: 65px;
		height: 70px;
		font-size: 0.5rem;
	}

	p{
		margin: 6px 6px 0 6px ;
		padding: 0;
		font-size: 0.9rem;
		font-weight: 700;
		line-height: 1;
		// 省略部分文字
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#film__name{
		@extend %flex-center;
		justify-content: space-between;


		a{
			position: relative;
			font-weight: 700;
			text-decoration: none;
			color: black;
			&:hover{
				&::before{
					width: 100%;
				}
			}
		}
		a::before{
			position: absolute;
			content: '';
			left: 0px;
			bottom: -4px;
			width: 0%;
			height: 4px;
			background-color: darken(#D3D6B1, 20%);
			transition-duration: 0.3s;
		}


		.film__fav{
			cursor: pointer;
			color:rgba(0, 0, 0, 0.2);
			transition-duration: 0.2s;
			font-size: 1.2rem;
			margin-left: 10px;

			&.active{
				color: #EA5136;
			}
		}
	}

	#film__time{
			font-size: 0.5rem;
			font-weight: 300;
	}
}

.timeline__error{
	color: rgba(255, 255, 255, 0.3);
	margin: 10vh;
	display: none;
	h1{
		text-align: center;
		font-size: 84px;
	}
	&.active{
		display: block;
	}
}

@media screen and (max-width: 750px) {
	.timeline__error{
		h1{
			font-size: 40px;
		}
	}
}

@media screen and (max-width: 400px) {
	.timeline__error{
		margin: 40px;
		h1{
			font-size: 22px;
		}
	}
}
